@import url('style.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}
.body-container{
    display: grid;
    justify-content: center;
    padding: 50px;
    margin: auto;
}

.generateMovie, .poster{
    border-radius: 50px;
    box-shadow: 0 0 25px black;
    margin: 20px;
}
.generateMovie{
    display: grid;
    /* justify-content: center; */
    padding: 10px;
    max-width: 20%;
    height: 30px;
    text-align: center
}

.movieInfo{
    display: block;
    width: 800px;
    max-width: 75%;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    /* x-offset: 0, y-offset: 0, blur: 10px, spread: 2px*/
    box-shadow: 0 0 10px 4px;
}

.title{
    text-decoration: underline;
    border-radius: 80px;
    box-shadow: 0 0 40px black;
    background-color: white;
}
.info{
    text-decoration: underline;
    font-weight: bolder;
}
