@import url("style.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-container {
  display: grid;
  justify-content: center;
  padding: 50px;
  margin: auto;
}

.generate,
.trail-img {
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 25px black;
  margin: 20px;
  background-color: #73b294;
  max-width: 100%;
}
.generate {
  padding: 20px;
}
.genButton {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.info-area {
  display: grid;
  width: 100%;
  max-width: 75%;
  align-items: center;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 0 10px 4px;
  background-color: #73b294;
}

.title {
  text-decoration: underline;
  border-radius: 80px;
  box-shadow: 0 0 40px black;
  background-color: #73b294;
  padding: 10px;
}
.info {
  text-decoration: underline;
  font-weight: bolder;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: underline;
}